<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Занимательная алгебра</title>
  </head>
  <body>
    <p>
      Представляю вашему вниманию способы применить знания алгебры для решения некоторых задач.
      Да пребудут с вами знания!
    </p>
    <p style="text-align: center"><form action="/euclid" method="POST"><button type="submit">Алгоритм Евклида.</button></form></p>
    <p style="text-align: center"><form action="/gauss" method="POST"><button type="submit">Метод Гаусса.</button></form></p>
    {% block content %}
    {% endblock %}
  </body>
</html>