<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Занимательная алгебра</title>
  </head>
  <body>
    <p>
      Представляю вашему вниманию способы применить знания алгебры для решения некоторых задач.
      Да пребудут с вами знания!
    </p>

    <ul>
        <li><a href="http://dmitryb.pythonanywhere.com/euclid">Алгоритм Евклида.</a>;</li>
        <li><a href="http://dmitryb.pythonanywhere.com/gauss">Метод Гаусса.</a>;</li>
    </ul>


    {% block content %}

    {% endblock %}
  </body>
</html>