{% extends "base.html" %}

{% block content %}
<p>Привет!</p>
<p>
Алгори́тм Евкли́да — эффективный алгоритм для нахождения наибольшего общего делителя двух целых чисел
(или общей меры двух отрезков). Алгоритм назван в честь греческого математика Евклида (III век до н. э.),
который впервые описал его в VII и X книгах «Начал». Это один из старейших численных алгоритмов,используемых в наше время.
В самом простом случае алгоритм Евклида применяется к паре положительных целых чисел и формирует новую пару,
которая состоит из меньшего числа и разницы между большим и меньшим числом. Процесс повторяется,
пока числа не станут равными. Найденное число и есть наибольший общий делитель исходной пары.
<a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_%D0%95%D0%B2%D0%BA%D0%BB%D0%B8%D0%B4%D0%B0">Для дополнительной информации</a>
</p>

<form action="/euclid" method="POST"><p style="text-align: center">
    <input type="number" name="a_num" value="1" />
    <input type="number" name="b_num" value="1" />
    <input type="submit" value="Ввести числа">
</p>
</form>

<p style="text-align: center">Пример на числах.</p>
<p style="text-align: center">gcd({{a}},{{b}}) = {{ans_1}}.</p>
<p style="text-align: center">{{a}} * {{ans_2_1}} + {{b}} * {{ans_2_2}} = {{ans_1}}.</p>
{% endblock %}