{% extends "base.html" %}
{% block content %}
<p>Привет!</p>
<p>
Ме́тод Га́усса — классический метод решения системы линейных алгебраических уравнений (СЛАУ).
Назван в честь немецкого математика Карла Фридриха Гаусса. Это метод последовательного исключения переменных,
когда с помощью элементарных преобразований система уравнений приводится к равносильной системе треугольного вида,
из которой последовательно, начиная с последних (по номеру), находятся все переменные системы.
<a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D0%BE%D0%B4_%D0%93%D0%B0%D1%83%D1%81%D1%81%D0%B0">Для дополнительной информации</a>
</p>
<p style="text-align: center">
Для примера будем использовать матрицы 4 на 5.
</p>
<form action="/gauss" method="POST">
    <p style="text-align: center"><input type="number" name="a1" value="1" />
    <input type="number" name="a2" value="1" />
    <input type="number" name="a3" value="1" />
    <input type="number" name="a4" value="1" />
    <input type="number" name="a5" value="1" />
    </p>
    <p style="text-align: center"><input type="number" name="b1" value="1" />
    <input type="number" name="b2" value="1" />
    <input type="number" name="b3" value="1" />
    <input type="number" name="b4" value="1" />
    <input type="number" name="b5" value="1" />
    </p>
    <p style="text-align: center"><input type="number" name="c1" value="1" />
    <input type="number" name="c2" value="1" />
    <input type="number" name="c3" value="1" />
    <input type="number" name="c4" value="1" />
    <input type="number" name="c5" value="1" />
    </p>
    <p style="text-align: center"><input type="number" name="d1" value="1" />
    <input type="number" name="d2" value="1" />
    <input type="number" name="d3" value="1" />
    <input type="number" name="d4" value="1" />
    <input type="number" name="d5" value="1" />
    <input type="submit" value="Ввести матрицу">
    </p>
</form>


<p style="text-align: center"> Пример решения такой матрицы:</p>
<p style="text-align: center">   {{vect_1}}</p>
<p style="text-align: center">   {{vect_2}}</p>
<p style="text-align: center">   {{vect_3}}</p>
<p style="text-align: center">Ответом является: {{answer_g}}</p>
{% endblock %}
